
<% if project.errors.any? %>
  <ul>
    <% project.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
  </ul>
<% end %>
<% if ticket.errors.any? %>
  <ul>
    <% ticket.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
  </ul>
<% end %>

<%= simple_form_for [project, ticket] do |f| %>
  <%= f.input :name, class: 'form-control' %>
  <%= f.input :description, class: 'form-control' %>
  <%= f.input :attachment, as: :file, label: "File" %>
  <%= f.button :submit, class: "btn btn-primary" %>
<% end %>
