<!DOCTYPE html>
<html>
  <head>
    <title>
      <% if content_for?(:title) %>
        <%= yield(:title) %>
        <% else %>
          Ticketee
        <% end %>
        </title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render 'layouts/header' %>
  <main class="container">
    <%= render 'layouts/flash' %>
    <%= yield %>
  </main>
  <footer>

  </footer>
  </body>
</html>
